
.head{
	width: 100%;
	height: 45px;
	background: #ccc;
	
}
.head img{
	flex: 1;
	width: 23px;
}

.face ul{
	padding: 10px;
	display: flex;
    height: 100%;
    flex: 1;
    
    justify-content: space-around;
}
.face ul li {
	padding-bottom: 10px;
}
.face ul li:nth-child(1){
	border-bottom: 1px red solid;
}

.neck{
  height: 100px;

}

.neck img{
  width: 100%;
}

.body .lb{
	height: 300px;
}

.body{
    width: 100%;
    height: 570px;
    background: #ccc;
}

/*中间部分*/

.fff{
	background: #f3f5f7;
}
.body h1{
	margin-left: 11px;
	text-align: start;
}

.body .list div{
	display: flex;
	flex: 1;
	width: 40%;
	padding: 10px;
	border-radius: 8px;
	margin:8px;

}
.body .new{
	background: #fff;
}
.body .new4{
	background: #ccc;
}
.body .list div{
	float: left;
}
.body .list div:nth-child(1){
	background: red;
	color: white;

}
.body .list div:nth-child(2n){
	background: skyblue;
}

.body .swiper{
	width: 100%;
	height: 310px;
	margin-top: 145px;
}

.body .swiper .zhuan{
	width: 100%;
	height: 33%;
	display: flex;
}
.body .swiper .zhuan img{
	width: 56%;
    padding: 10px;
    margin-left: 10px;
}
.body .swiper .zhuan div{
	flex: 1;
	text-align: start;
	padding-top: 5px;
}
.body .swiper .zhuan .txt{
	margin-top: 13px;
    margin-left: -60px;
}
.body .new1{
	height: 565px;
}

*{
	padding: 0;
	margin: 0;
}
.box{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333333;
	z-index: 99;
}
.neirong{
	top:6rem;
	position: absolute;
	width: 16rem;
	height: 16rem;
	left:50%;
	transform: translateX(-50%);
	transition: top .5s;
}
.bg{
	width: 24rem;
	height: 24rem;
	background: url(../img/light.png);
	background-size: 24rem 24rem;
	animation: lightbg 18s infinite linear;  /* 18s 无限次  匀速*/ 
    position: absolute;
    left: -4rem;
    top: -7rem;
}
@keyframes lightbg{
	
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
			
}
.popup{
	width: 12rem;
    height: 14rem;
    background-position: 0 0;
    box-sizing: border-box;
    background-color: #bf341d;
    position: absolute;
    left: calc(50% - 6rem);
   	top: 1rem;
   	background-size: 100%;
   	border:1px;
   	border-radius: 5px;
}
.popup .po_top {
    position: absolute;
    left: 0;
    top: 0;
    width: 13.5rem;
    height: 10.75rem;
    z-index: 11;
    background: url(../img/top.png) no-repeat;
    background-size: 13.5rem 43.4rem;
    background-position: -.74rem 0;
}
.po_bot{
	position: absolute;
   	 left: 0;
   	 top: 9.1rem;
   	 z-index: 10;
   	 width: 100%;
   	 height: 5.75rem;
   	 background: url(../img/bot.png);
   	 background-size: contain;
   	 background-position: 0 0;
}
.qiang{
	position: absolute;
 	 left: 50%;
 	 margin-left: -2.325rem;
 	 top: 8.3rem;
 	 z-index: 12;
 	 width: 4.65rem;
 	 height: 4.65rem;
 	 background: url(../img/qiang.png) no-repeat;
 	 background-size: contain;
 	 background-position: 0 0;
 	 animation: pluginBtnScale 1s 1s infinite;
}
@-webkit-keyframes pluginBtnScale{0%,to{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}}@keyframes pluginBtnScale{0%,to{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}}@-webkit-keyframes redpackOpen{0%{background-position:-.74rem 0}to{background-position:-.74rem 100%}}
.lq{
	width: 11.25rem;
    height: 12.5rem;
    margin: auto;
   	margin-top: 0.5rem;
    border-radius: .2rem;
    background-color: #fff;
}
.lq .po_title{
	font-size: .65rem;
   	color: #666;
   	line-height: 1.75rem;
   	text-align: center;
   	overflow: hidden;
   	white-space: nowrap;
   	text-overflow: ellipsis;
}
.lq .img{ 
    width: 10.775rem;
   	height: 5.025rem;
   	margin: 0 auto;
}
.lq img{
	width: 100%;
   	height: 100%;
   	border-radius: .2rem;
}


.popup .po_top.hide{webkit-animation: redpackOpen .5s 0s steps(3) 1,redpackOpened .5s .5s infinite;
    animation: redpackOpen .5s 0s steps(3) 1,redpackOpened .5s .5s infinite;}

@-webkit-keyframes redpackOpen{0%{background-position:-.74rem 0}to{background-position:-.74rem 100%}}@keyframes redpackOpen{0%{background-position:-.74rem 0}to{background-position:-.74rem 100%}}@-webkit-keyframes redpackOpened{0%{-webkit-transform:scale(0);transform:scale(0)}to{-webkit-transform:scale(0);transform:scale(0)}}@keyframes redpackOpened{0%{-webkit-transform:scale(0);transform:scale(0)}to{-webkit-transform:scale(0);transform:scale(0)}}