
.head{
	width: 100%;
	height: 45px;
	background: #ccc;
	
}
.head img{
	flex: 1;
	width: 23px;
}

.face ul{
	padding: 10px;
	display: flex;
    height: 100%;
    flex: 1;
    
    justify-content: space-around;
}
.face ul li {
	padding-bottom: 10px;
}
.face ul li:nth-child(1){
	border-bottom: 1px red solid;
}

.neck{
  height: 100px;

}

.neck img{
  width: 100%;
}

.body .lb{
	height: 300px;
}

.body{
    width: 100%;
    height: 570px;
    background: #ccc;
}

/*中间部分*/

.fff{
	background: #f3f5f7;
}
.body h1{
	margin-left: 11px;
	text-align: start;
}

.body .list div{
	display: flex;
	flex: 1;
	width: 40%;
	padding: 10px;
	border-radius: 8px;
	margin:8px;

}
.body .new{
	background: #fff;
}
.body .new4{
	background: #ccc;
}
.body .list div{
	float: left;
}
.body .list div:nth-child(1){
	background: red;
	color: white;

}
.body .list div:nth-child(2n){
	background: skyblue;
}

.body .swiper{
	width: 100%;
	height: 310px;
	margin-top: 145px;
}

.body .swiper .zhuan{
	width: 100%;
	height: 33%;
	display: flex;
}
.body .swiper .zhuan img{
	width: 56%;
    padding: 10px;
    margin-left: 10px;
}
.body .swiper .zhuan div{
	flex: 1;
	text-align: start;
	padding-top: 5px;
}
.body .swiper .zhuan .txt{
	margin-top: 13px;
    margin-left: -60px;
}
.body .new1{
	height: 565px;
}
