*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	/*头部*/
		.job_box .head{

			width: 100%;
			height: 196px;
			background: #5DD5C8;
		}
		.job_box h1,.job_box h2{
			color: #fff !important;
			margin: 0 auto !important;
			text-align: center;
		}
		.job_box .head h1{
			padding-top: 30px;
			color: #fff ;
			padding-bottom: 10px;
			font-size: 33px;
			margin:auto 0;
		}
		.job_box h2{
			padding-top: 5px;
			padding-bottom: 25px;
			font-size: 27px;
		}
		
		.head .search{
			width: 80%;
			height: 20%;
			background: #fff;
			border:1px solid #fff;
			border-radius:10px;
			margin: auto;
			overflow: hidden;
		}
		.head .search-input{
			width: 80%;
			height: 120%;
			margin-top:-3px;
			color: #ccc;
			border: none;
		}
		.head .search a{
			padding:5px;
			color: #5BD4C7;
		}

		/*内容*/
		.main{
			padding: 18px 15px 0px 15px;
			margin-bottom: 100px;
		}
		.main .neirong{
			width: 100%;
			border-bottom: 1px #F5F8F9 solid;
			padding-bottom: 20px;

			
		}
		.main .neirong h4{
			margin-top: 20px;
		    text-align: start;
		    
		    padding-top: 15px;
		}
		.main .neirong img{
			margin-left: -240px;
			padding-bottom: 10px;
		}
		.main .neirong .some{
			width: 100%;
			padding-bottom: 28px;
		}
		.main .neirong .some a{
			padding: 8px 16px;
		    font-size: 13px;
		    color: #7e8793;
		    line-height: 13px;
		    background: #F5F8F9;
		    border-radius: 100px;
		    margin: 0 8px 8px 0;
		    display: inline-block;
		    float: left;
		}
		
		